@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
select{
    outline: none;
    border: none;
    max-width: 200px;
    font: var(--unnamed-font-style-normal) normal normal 16px/19px var(--unnamed-font-family-rubik);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 14px/19px Rubik;
    letter-spacing: 0px;
    color: #707070;
    background-color: transparent;
}
.main-wrapper{
    width: 100%;
    max-width: 1920px;
    height: 100%;
    position: relative;
}
nav{
    position: fixed;
    z-index: 9;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 103px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0132961F;
    opacity: 1;
}
nav .logo{
    position: relative;
    top: 20px;
    left: 80px;
    width: 12.5%;
    height: 66px;
    opacity: 1;
}
nav .logo img{
    width: 100%;
}
nav .menu{
    width: 80%;
    height: 103px;
    position: absolute;
    right: 0;
    top: 0;
}
nav .menu .hamburger{
    display: none;
}
nav .menu .menu-list{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0 auto;
}
nav .menu .menu-list li a{
    text-decoration: none;
    font: var(--unnamed-font-style-normal) normal normal 16px/19px var(--unnamed-font-family-rubik);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 14px/19px Rubik;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;   
}
nav .menu .menu-list li a:hover{
    text-decoration: underline;
    color: #03309A;
    opacity: 1;
}

header{
    width: 100%;
    height: 100vh;
    background-color: #F7FDFF;
    position: relative;
}
header .ellipse1{
    width: 20vw;
    position: absolute;
    bottom: -20%;
    left: -10%;
    z-index: 0;
}
header .ellipse1 img{
    width: 100%;
}
header .btn-scroll{
    width: 6%;
    height: auto;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}
header .btn-scroll img{
    width: 100%;
}
.header-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-container .header-text{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}
.header-container .header-text span{
    width: auto;
    height: auto;
    font: var(--unnamed-font-style-normal) normal normal 16px/19px var(--unnamed-font-family-rubik);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal 500 28px/45px Rubik;
    letter-spacing: 0px;
    color: #00A6D6;
    opacity: 1;
}
.header-container .header-img-con{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-container .header-img{
    width: 60%;
    position: relative;
    height: auto;
    margin-top: 10%;
    /* z-index: 1; */
}
.header-container .header-img .main-img{
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}
.header-container .header-img-con .header-img .main-img img{
    width: 100%;
}
.header-container .header-img .blueFig{
    position: absolute;
    top: -10%;
    right: -10%;
    z-index: 0;
}
.header-container .header-img .cyanFig{
    position: absolute;
    bottom: -12%;
    left: -12%;
    z-index: 0;
}

/* ==================================
------- Responsive header Section-----
================================== */
@media (max-width:500px){
    select{
        outline: none;
        border: none;
        max-width: 280px;
        font: var(--unnamed-font-style-normal) normal normal 16px/19px var(--unnamed-font-family-rubik);
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: center;
        font: normal normal normal 20px/19px Rubik;
    }
    select option{
        font: normal normal normal 10px/16px Rubik;
        text-align: center;
    }
    nav{
        width: 100%;
        height: 10vh;
    }
    nav .logo{
        position: relative;
        top: 15px;
        left: 50vw;
        transform: translate(-50%);
        width: 30%;
        align-self: center;
        justify-self: center;
        height: 66px;
    }
    nav .menu{
        width: 20%;
        height: 67px;
        position: absolute;
        right: 0;
        top: 0;
    }
    nav .menu .hamburger{
        display: block;
        position: absolute;
        right: 30%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 36px;
        color: #707070;
    }
    nav .menu .menu-list{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 70vh;
        position: absolute;
        left: none;
        right: 0;
        top: 10vh;
        background-color: rgba(190, 241, 255, 0.9);
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        margin: 0 auto;
        transform: scaleY(0);
        transition: all 0.3s ease-in-out;
        transform-origin: top;
    }
    nav .menu #menu-chkbox:checked ~ .menu-list{
        transform: scaleY(1);
    }
    nav .menu .menu-list li a{
        text-decoration: none;
        font: var(--unnamed-font-style-normal) normal normal 16px/19px var(--unnamed-font-family-rubik);
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: center;
        font: normal normal normal 20px/19px Rubik;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;   
        text-transform: uppercase;
    }
    nav .menu .menu-list li a:hover{
        text-decoration: underline;
        color: #03309A;
        opacity: 1;
    }
    
    header{
        width: 100%;
        height: 70vh;
        padding-top: 10vh;
        background-color: #F7FDFF;
        position: relative;
    }
    header .ellipse1{
        width: 30vw;
        position: absolute;
        bottom: -8%;
        left: -15%;
      
    }
    header .btn-scroll{
        width: 6%;
        height: auto;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);

        display: none;
    }
    .header-container{
        display: grid;
        grid-template-areas: 'header-image' 'header-text';
    }
    .header-container .header-text{
        position: relative;
        width: 100%;
        height: 30%;
        justify-content: center;
        grid-area: header-text;
    }
    .header-container .header-text span{
        text-align: center;
        font: normal normal 500 20px/28px Rubik;
    }
    .header-container .header-img-con{
        width: 100%;
        height: 50%;
        grid-area: header-image;
    }
    .header-container .header-img{
        width: 70%;
        position: relative;
        height: auto;
        margin-top: 10%;
    }
    .header-container .header-img .blueFig{
        position: absolute;
        top: -10%;
        right: -10%;
        z-index: 0;
    }
    .header-container .header-img .cyanFig{
        position: absolute;
        bottom: -15%;
        left: -15%;
        z-index: 0;
    }
}

/* =========================
-------About Section-----
========================= */

.about-container{
    width: 100%;
    height: 70vh;
    display: flex;
    position: relative;
    align-items: center;
}
.about-container .about-col1{
    width: 50%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
}
.about-container .about-col1 p{
    width: 80%;
    height: auto;
    font: var(--unnamed-font-style-normal) normal normal 18px/27px var(--unnamed-font-family-rubik);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 14px/22px Rubik;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}
.about-container .about-col2{
    width: 40%;
    padding-left: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 24px/28px var(--unnamed-font-family-rubik);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal 400 18px/22px Rubik;
    letter-spacing: 0px;
    color: #03309A;
    opacity: 1;
}
.about-col2 h2{
    margin-bottom: 16px;
}
.about-col2 .ACO-NL{
    width: 100%;
    height: 40%;
}
.ACO-NL .address{
    padding: 2% 5%;
    margin-bottom: 10px;
    width: 40%;
    font: normal normal 400 14px/18px Rubik;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #B5B5B5;
    border-radius: 8px;

    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}

.about-col2 .ACO-PC{
    width: 100%;
    height: 40%;
}

.ACO-PC .primary-contact{
    padding: 2% 2%;
    margin-bottom: 10px;
    width: 70%;
    height: 100px;
    font: normal normal 300 12px/18px Rubik;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #B5B5B5;
    border-radius: 8px;

    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}
.primary-contact .PC-row h3{
    display: flex;
    justify-content: space-between;
    font: normal normal 600 12px/18px Rubik;
}
.primary-contact .PC-row h4{
    display: flex;
    justify-content: space-between;
    font: normal normal normal 12px/18px Rubik;
}
.primary-contact .PC-row{
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid #B5B5B5;
}
.PC-row.PContEmail{
    border-bottom: none;
}

/* ==================================
------- Responsive About Section-----
================================== */
@media (max-width:500px){
    .about-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .about-container .about-col1{
        padding: 10% 0;
        width: 100%;
        height: 50%;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    .about-container .about-col1 p{
        width: 90%;
        height: auto;
        text-align: left;
        font: normal normal normal 14px/27px Rubik;
    }
    .about-container .about-col2{
        width: 100%;
        padding-left: 0%;
        height: 50%;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;
        text-align: center;
    
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 24px/28px var(--unnamed-font-family-rubik);
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: normal normal 100 18px/22px Rubik;
        letter-spacing: 0px;
        color: #03309A;
        opacity: 1;
    }
    .about-col2 h2{
        text-align: center;
        margin-bottom: 16px;
        font: normal normal 500 22px/22px Rubik;
    }
    .about-col2 .ACO-NL{
        width: 100%;
        height: 50%;
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
     
        align-items: center;
    }
    .ACO-NL .address{
        width: 80%;
        font: normal normal 400 14px/26px Rubik;
        border-radius: 8px;
    

        text-align: center;
    }
    
    .about-col2 .ACO-PC{
        width: 100%;
        height: 50%;
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .ACO-PC .primary-contact{
        padding: 2% 2%;
        margin-bottom: 10px;
        width: 86%;
        height: 150px;
    
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        letter-spacing: 0px;
        color: #333333;
        opacity: 1;
    }
    
}
